body{
	background-image:url(images/bk.jpg);
}

.box-1{
	background-color: #bfa9d8;
	color: #fff;
	padding: 20px;
	min-height: 100px;
	width: 60%;
	margin-top: 30px;
	float: right;
	background: rgba(191, 169, 216, 0.5);

}


.box-1 h1{
	font-family:'Inconsolata', monospace;
	font-weight: 800;
	font-style: bold;
	word-spacing: 1em;
	color: black;
}

.box-1 p{
	font-family:'Inconsolata', monospace;
	font-size: 15px;
	color: black;
}

.box-2 {
	background-color: #bfa9d8;
	color: #fff;
	padding: 20px;
	min-height: 100px;
	width: 60%;
	margin-top: 50px;
	margin-bottom: 50px;
	float: left;
	background: rgba(191, 169, 216, 0.5);
}

.box-2 h1{
	font-family:'Inconsolata', monospace;
	font-weight: 800;
	font-style: bold;
	word-spacing: 1em;
	color: black;
}

.box-2 p{
	font-family:'Inconsolata', monospace;
	font-size: 15px;
	color: black;
}

.container {
	margin: 50px;
}


#pic {
	position: relative;
	float: right;
	margin: 75px;
	opacity: 1;
    filter: alpha(opacity=50);
}

#pic:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.list{
	font-family:'Inconsolata', monospace;
	color: black;
}
